<!DOCTYPE html>
<html>
<head>
    <title>MTP</title>
</head>
<body>
    <h1>Currency buy</h1>

    <!-- To render the graph with JS. -->
    <div id="container"></div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/stock/highstock.js"></script>
    <script type="text/javascript" src="/mtp/web/js/transactions.js"></script>
</body>
</html>
